In [17]:
import numpy as np
import pandas as pd

In [18]:
df = pd.read_csv("data/ASML_v1.csv")
df

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume,obv,ma6,ma10,rsi6,rsi10,macd,dif,atr10,atr20,bias6,bias10,tapi
0,0,2016-11-17,101.239998,102.849998,101.190002,102.559998,97.645622,1344700,1344700,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,13111.349710
1,1,2016-11-18,103.580002,104.750000,103.379997,104.589996,99.578346,1914300,3259000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,18302.897726
2,2,2016-11-21,104.089996,105.110001,104.019997,105.089996,100.054390,1408200,4667200,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,13399.943416
3,3,2016-11-22,105.449997,105.610001,104.800003,105.320000,100.273384,876300,5543500,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,8320.357007
4,4,2016-11-23,104.480003,105.349998,104.250000,105.099998,100.063911,432300,5111200,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,4113.225578
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1253,1253,2021-11-10,829.609985,835.440002,815.109985,817.849976,817.849976,737700,86884600,840.889994,829.088001,43.364854,51.307540,14.121893,4.518819,19.559911,20.038150,-3.840003,-1.123802,901.999171
1254,1254,2021-11-11,833.270020,839.039978,829.200012,833.390015,833.390015,416000,87300600,841.451660,831.108002,55.059322,57.428905,13.815968,3.370316,19.722920,20.095742,-1.343608,0.228201,499.166048
1255,1255,2021-11-12,840.000000,855.000000,835.099976,851.630005,851.630005,531200,87831800,841.641663,834.983002,65.184828,63.425384,14.873879,3.542582,19.911627,20.171455,1.664724,1.664700,623.745050
1256,1256,2021-11-15,855.000000,861.599976,852.989990,856.719971,856.719971,638000,88469800,843.261658,839.909998,67.627289,64.955921,15.939261,3.686371,18.917461,19.661380,2.243052,1.680997,744.700744
1257,1257,2021-11-16,851.520020,862.609985,847.239990,860.549988,860.549988,690000,89159800,845.031657,844.762995,69.555836,66.140563,16.897846,3.715965,18.562715,19.446811,2.586388,1.578699,801.812805

## Feature selection

https://scikit-learn.org/stable/modules/feature_selection.html

In [19]:
from sklearn.feature_selection import VarianceThreshold
sel = VarianceThreshold(0)
sel.fit_transform(df.drop(["Date"],axis=1))

array([[0.00000000e+00, 1.01239998e+02, 1.02849998e+02, ...,
                   nan,            nan, 1.31113497e+04],
       [1.00000000e+00, 1.03580002e+02, 1.04750000e+02, ...,
                   nan,            nan, 1.83028977e+04],
       [2.00000000e+00, 1.04089996e+02, 1.05110001e+02, ...,
                   nan,            nan, 1.33999434e+04],
       ...,
       [1.25500000e+03, 8.40000000e+02, 8.55000000e+02, ...,
        1.66472369e+00, 1.66470031e+00, 6.23745050e+02],
       [1.25600000e+03, 8.55000000e+02, 8.61599976e+02, ...,
        2.24305217e+00, 1.68099732e+00, 7.44700744e+02],
       [1.25700000e+03, 8.51520020e+02, 8.62609985e+02, ...,
        2.58638847e+00, 1.57869934e+00, 8.01812805e+02]])

## Feature ranking

In [ ]:
import matplotlib.pyplot as plt
from sklearn.linear_model import LassoCV

lasso = LassoCV().fit(X, y)
importance = np.abs(lasso.coef_)
feature_names = np.array(diabetes.feature_names)
plt.bar(height=importance, x=feature_names)
plt.title("Feature importances via coefficients")
plt.show()