In [53]:
import numpy as np
import pandas as pd
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import VarianceThreshold

In [54]:
df = pd.read_csv("data/ASML_v1.csv")
df

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume,obv,ma6,ma10,rsi6,rsi10,macd,dif,atr10,atr20,bias6,bias10,tapi
0,0,2016-11-17,101.239998,102.849998,101.190002,102.559998,97.645622,1344700,1344700,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,13111.349710
1,1,2016-11-18,103.580002,104.750000,103.379997,104.589996,99.578346,1914300,3259000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,18302.897726
2,2,2016-11-21,104.089996,105.110001,104.019997,105.089996,100.054390,1408200,4667200,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,13399.943416
3,3,2016-11-22,105.449997,105.610001,104.800003,105.320000,100.273384,876300,5543500,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,8320.357007
4,4,2016-11-23,104.480003,105.349998,104.250000,105.099998,100.063911,432300,5111200,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,4113.225578
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1253,1253,2021-11-10,829.609985,835.440002,815.109985,817.849976,817.849976,737700,86884600,840.889994,829.088001,43.364854,51.307540,14.121893,4.518819,19.559911,20.038150,-3.840003,-1.123802,901.999171
1254,1254,2021-11-11,833.270020,839.039978,829.200012,833.390015,833.390015,416000,87300600,841.451660,831.108002,55.059322,57.428905,13.815968,3.370316,19.722920,20.095742,-1.343608,0.228201,499.166048
1255,1255,2021-11-12,840.000000,855.000000,835.099976,851.630005,851.630005,531200,87831800,841.641663,834.983002,65.184828,63.425384,14.873879,3.542582,19.911627,20.171455,1.664724,1.664700,623.745050
1256,1256,2021-11-15,855.000000,861.599976,852.989990,856.719971,856.719971,638000,88469800,843.261658,839.909998,67.627289,64.955921,15.939261,3.686371,18.917461,19.661380,2.243052,1.680997,744.700744
1257,1257,2021-11-16,851.520020,862.609985,847.239990,860.549988,860.549988,690000,89159800,845.031657,844.762995,69.555836,66.140563,16.897846,3.715965,18.562715,19.446811,2.586388,1.578699,801.812805

In [55]:
sel = VarianceThreshold(0)
sel.fit_transform(df.drop(["Date"],axis=1))
df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [56]:
df.dropna(inplace=True)

In [57]:
scaler = StandardScaler()
scaler.fit(df.drop(["Date"],axis=1))
X=scaler.transform(df.drop(["Date"],axis=1))

In [58]:
model = PCA(n_components=2).fit(X)
X_pc = model.transform(X)

# number of components
n_pcs= model.components_.shape[0]

# get the index of the most important feature on EACH component
# most_important = [np.abs(model.components_[i]).argmax() for i in range(n_pcs)]

In [59]:
# Rank the lists withn each pc

feat_rank = [np.abs(model.components_[i]).argsort() for i in range(n_pcs)]

In [60]:
feat_rank

[array([ 5, 12,  9, 10, 15, 16, 17, 11, 13,  6, 14,  8,  7,  0,  1,  2,  3,
         4]),
 array([17,  3,  4,  2,  1,  0,  6,  7,  8, 14,  5, 13, 11, 15, 12, 10, 16,
         9])]

In [61]:
initial_feature_names = ['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'obv', 'ma6', 'ma10', 'rsi6', 'rsi10', 'macd', 'dif', 'atr10', 'atr20', 'bias6', 'bias10', 'tapi']
# get the names

# LIST COMPREHENSION HERE AGAIN
dic = {'PC{}'.format(i): [initial_feature_names[feat_rank[i][j]] for j in range(len(initial_feature_names))] for i in range(n_pcs)}

In [62]:
dic

{'PC0': ['Volume',
  'dif',
  'rsi6',
  'rsi10',
  'bias6',
  'bias10',
  'tapi',
  'macd',
  'atr10',
  'obv',
  'atr20',
  'ma10',
  'ma6',
  'Open',
  'High',
  'Low',
  'Close',
  'Adj Close'],
 'PC1': ['tapi',
  'Close',
  'Adj Close',
  'Low',
  'High',
  'Open',
  'obv',
  'ma6',
  'ma10',
  'atr20',
  'Volume',
  'atr10',
  'macd',
  'bias6',
  'dif',
  'rsi10',
  'bias10',
  'rsi6']}