In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn 
from sklearn.model_selection import cross_val_score
from sklearn.metrics import confusion_matrix 
from sklearn.svm import SVC 
from sklearn.model_selection import KFold

In [2]:
df = pd.read_csv("data/ASML_reduced.csv", index_col=0)
print("df shape:",df.shape)


#Extract date as new features
df["Date"] = pd.to_datetime(df["Date"],format="%Y-%m-%d")
df["year"] = df["Date"].dt.year
df["month"] = df["Date"].dt.month
df["day"] = df["Date"].dt.day
df = df.set_index("Date")

df = df.dropna()
df

df shape: (1258, 6)

,Adj Close,Volume,rsi6,macd,daily_trend,year,month,day
Date,,,,,,,,
2016-12-23,105.424133,183900,81.778301,1.878188,1.0,2016,12,23
2016-12-27,106.166779,308500,84.333164,2.062190,-1.0,2016,12,27
2016-12-28,105.471748,509900,72.860080,2.124617,1.0,2016,12,28
2016-12-29,105.833542,754900,74.985837,2.179629,1.0,2016,12,29
2016-12-30,106.823700,858700,80.103804,2.280852,-1.0,2016,12,30
...,...,...,...,...,...,...,...,...
2021-11-09,850.049988,676500,78.748979,15.889212,-1.0,2021,11,9
2021-11-10,817.849976,737700,43.364854,14.121893,1.0,2021,11,10
2021-11-11,833.390015,416000,55.059322,13.815968,1.0,2021,11,11
2021-11-12,851.630005,531200,65.184828,14.873879,1.0,2021,11,12
2021-11-15,856.719971,638000,67.627289,15.939261,1.0,2021,11,15

## K fold preparation

In [3]:
X = df.drop(["daily_trend"],axis=1).to_numpy()
y = df["daily_trend"].to_numpy()
kf = KFold(n_splits=2, shuffle=True, random_state=520)

In [4]:
for train_index, test_index in kf.split(X):
    #print("TRAIN:", train_index, "TEST:", test_index)
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = y[train_index], y[test_index]

## Apply ML

In [5]:
model = SVC(C=10.0, cache_size=200, class_weight=None, coef0=0.0, degree=3, gamma=50, kernel="rbf",
max_iter=-1, probability=False, random_state=None, 
shrinking=True, tol=0.001, verbose=False
) 
model.fit(X_train, y_train) 
pred = model.predict(X_test) 
print("%0.3f" % model.score(X_test, y_test)) 
print("%s\n" % confusion_matrix(pred, y_test))

0.523
[[  0   0]
 [294 322]]

In [9]:
# Fun fact 
df[df.daily_trend==1].shape[0]/df.shape[0]

0.5438311688311688